.sample-form-paper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    max-width: 40vw;
}

.sample-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sample-form-header-text {
    color: inherit
}   