.label-editor-container {
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    min-width: fit-content;
    max-width: fit-content;
}

.label-editor-container, .label-editor-container>* {
    margin: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font: 16px Arial, Helvetica, sans-serif
}

.label-editor-container>*:not(.label-editor) {
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
}

/* .label-editor-toolbar {

} */

.label-editor-toolbar>* {
    margin: 5px;
}

.label-editor {
    display: inline-block;
    align-self: center;
    position: relative;
    border: 1px solid black;
}

.label-qr-code-container {
    border: 0px solid black;
}

.label-editor-text-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-editor-text-input-container>* {
    margin: 5px;
}

.label-editor-text-input-container>p {
    margin: 0;
    padding: 0;
    width: 10ch;
    height: auto;
}

/* .label-editor-text-input {

} */

/* .label-editor-footer {

} */
