:root {
    --data-grid-expired-color: rgb(59, 173, 166);
    --data-grid-expired-opacity: 0.8;
}

.data-grid-container {  
    height: 75vh;
    display: flex;
    flex-flow: column;
    margin: 20px;
}

.data-grid {
    flex: 1 1 auto;
}

.MuiDataGrid-row {
    opacity: 1.0;
    font: 14px Arial, Helvetica, sans-serif;
}

.data-grid-row-expired {
    opacity: var(--data-grid-expired-opacity);
    background-color: var(--data-grid-expired-color);
}

/* Disables row highliting on the data grid */
.MuiDataGrid-row:not(.Mui-selected):hover {
    background-color: inherit !important;
}

/* Disables row highliting on expired rows in the data grid */
.MuiDataGrid-row.data-grid-row-expired:not(.Mui-selected):hover{
    background-color: var(--data-grid-expired-color) !important;
}

.MuiDataGrid-row.data-grid-row-expired.Mui-selected {
    opacity: calc(var(--data-grid-expired-opacity) + 0.1);
    background-color: var(--data-grid-expired-color) !important;
}

.MuiDataGrid-row.data-grid-row-expired.Mui-selected:hover {
    opacity: calc(var(--data-grid-expired-opacity) + 0.2);
    background-color: var(--data-grid-expired-color) !important;
}

.img-label {
    object-fit: cover;
    border: 1px solid #ddd;
    margin: auto;
    margin-bottom: 10px;
}

.img-label-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.printer-selector-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
    align-content: center;
    justify-content: center;
    width: 30vw;
}