:root {
    --data-grid-expired-color: lightcoral;
}

.data-grid-container {  
    height: 75vh;
    display: flex;
    flex-flow: column;
    margin: 20px;
}

.data-grid {
    flex: 1 1 auto;
}

.MuiDataGrid-row {
    opacity: 1.0;
    font: 14px Arial, Helvetica, sans-serif;
}

.data-grid-row-expired {
    opacity: 0.75;
    background-color: var(--data-grid-expired-color);
}

/* Disables row highliting on the data grid */
.data-grid-row-expired:hover {
    background-color: var(--data-grid-expired-color) !important;
}

/* Disables row highliting on the data grid */
.MuiDataGrid-row:hover{
    background-color: inherit !important;
}

.img-label {
    object-fit: cover;
    border: 1px solid #ddd;
    margin: auto;
    margin-bottom: 10px;
}

.img-label-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.printer-selector-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
    align-content: center;
    justify-content: center;
    width: 30vw;
}