.msd-image-container {
    align-items: flex-end;
    align-content: flex-end;
    text-decoration: none;
}

.nav-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.link-button {
    text-decoration: none;
    color: inherit;
}