.msd-img-container {
    align-items: flex-end;
    align-content: flex-end;
    text-align: end;
    text-decoration: none;
    color: inherit;
}

.link-button {
    text-decoration: none;
    color: inherit;
}